<% 
@keys = @instance.fields_for_context(:form)
@keys = @instance.columns.map {|field| field[0]} if @keys.nil?  # default to columns

%>

<form action="<%= path_for_action(@instance, :update) %>" method="POST">
<table>
<% @keys.each do |key| %>
<tr><th><%= key.titleize %></th><td><input type="text" name="<%=key%>" value="<%= @instance.send(key.to_sym) %>" /></td></tr>
<% end %>
</table>
  <input type="submit">
</form>