<% 
@keys = @instance.fields_for_context(:form)
@keys = @instance.columns.map {|field| field[0]} if @keys.nil?  # default to columns

%>

<table>
<% @keys.each do |key| %>
<tr><th><%= key.titleize %></th><td><input type="text" name="<%=key%>" /></td></tr>
<% end %>
</table>