<!-  render an instance in a table app/view/templates/generic/instance.html.erb-->
<%#
# generic instance in a table
%>


<table cellpadding="5" cellspacing="5">
  
<% @instance.columns.each do |field| %>
  <tr>
    <th><%= field[0].to_s.titleize %></th>
    <td><%= @instance.send(field[0]) %></td>
  </tr>
  
<%   end %>
  
    
</table>