<!-  render an instance in a table app/view/templates/generic/instance.html.erb-->
<%#
# generic instance in a table
%>
<% 
@keys = @instance.fields_for_context(:view) 
@keys = @instance.columns.map {|field| field[0]} if @keys.nil?  # default to columns
%>

<table cellpadding="5" cellspacing="5">
  
<% @keys.each do |key| %>
  <tr>
    <th><%= key.to_s.titleize %></th>
    <td><%= @instance.send(key) %></td>
  </tr>
  
<%   end %>
  
    
</table>