<!-  render an instance in a table -->
<%#
# generic instance in a table
%>

<%= "instance.html generic template" %>
<table cellpadding="5" cellspacing="5">
  
<% @instance.columns.each do |field| %>
  <tr>
    <th><%= field[0].to_s.titleize %></th>
    <td><%= @instance.send(field[0]) %></td>
  </tr>
  
<%   end %>
  
    
</table>