<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="Author" content="Damian Hamill" />
    <meta http-equiv="imagetoolbar" content="no" />
    <!-- disable IE's image toolbar -->
    <meta http-equiv="content-language" content="en" />

    <title>
      <%= yield :page_title %>
    </title>


    <link rel="stylesheet" href="/stylesheets/jquery-ui.css" type="text/css" />
    <link href="/stylesheets/base.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
    

    <script src="/javascripts/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>


    <%= yield :head %>

 


<script type="text/javascript">
			
  $(document).ready(function() {

       <%= yield :document_ready %>
				
  });
</script>
    

    
</head>
<body id="body">
  <div id="head">
      <span style="margin-right: 20px;">
        Jooxe - the Database Thingy
      </span>
     <ul class="nav-bar"></ul>
    </div>

    
  <div id="centeredBody">

    

    <div id="mainmenu">    

      <% yield :main_menu %>

      <div id="submenu">

        <% yield :sub_menu %>

      </div>
    </div>

    <div id="content">
      <div id="container" class="clear">
       

         <div id="welcome">Your Jooxe is flowing Jimmy!</div>

    <%= yield :layout %>

      </div>
    </div>

    <div class="break"></div><!--necessary -->
    
  </div>
  
  <div id="foot">
      <ul class="nav-bar"></ul>
      <p class="text">&copy; Your Company Inc. All Rights Reserved.</p>
    </div>
    
    <div id="bottomBit">
      the bottom bit
    </div>
</body>
</html>

